<div class="wrap">
    <h3>体重が減ればそれで十分?</h3>
    <div>
      <p><span class="underline">あなたの年齢をこっそりと</span>教えてくださいな。</p>
      <p>二十代、三十代、四十代……それとも五十代?</p>
      <p>感度良く時代を感じている十代や、人生いよいよこれからと熱い気持ちの六十代の方も、このページを読んでいるかもしれません。</p>
      <p>今からお話しするのは、<span class="underline2">何歳になっても役立つ「正しいダイエットの方法」</span>です。</p>
    </div>
    <br>
    <div>
      <p>ところで、ダイエットとはなんでしょう。体重を減らすことでしょうか。</p>
      <p>ただ体重を減らすだけなら、簡単です。<span class="underline">炭水化物を抜いて、塩分摂取をやめれば</span>、体から水分が出ていきますので、体重は減ります。または、寝たきりの生活を続けても体重は減ります。</p>
      <p>一時的に水分が減っても<span class="underline">すぐに元に戻ります</span>し、寝たきりの生活を続けると筋肉が著しく減ってしまいます。筋肉量が少なくなると、<span class="underline">体の輪郭がぼんやり</span>してきます。</p>
      <p>望む姿は引き締まった体でしょう。</p>
      <p><span class="underline2">ダイエットとは、体脂肪を落とす</span>ことです。</p>
    </div>
    <br>
    <h3>正しいダイエット方法とは</h3>
    <div>
      <p><span class="underline">なるべく筋肉量を維持</span>しながら、体脂肪を落とすことが理想です。</p>
      <p>過剰なカロリー制限では筋肉量の維持が難しくなります。<span class="underline">筋肉に栄養をしっかり供給するために、一定以上のカロリー摂取</span>は必須です。もちろん取りすぎはいけません。</p>
      <p>適度なカロリーはどの程度でしょうか。</p>
      <p><span class="underline2">除脂肪体重*40kcal</span>が、一応の目安です(きっちりトレーニングしている方)。除脂肪体重とは、体脂肪を除いた体重のことです。</p>
      <p>計算してみましょう。</p>
      <p>例えば、体重60kgで体脂肪率が20%ならば、60*(1-0.2)=48kgが除脂肪体重です。よって適度なカロリーは、48*40=1920kcalです。</p>
      <p>あなたが大好きな(かもしれない)ブラックサンダーですと、約18個で、1920kcalです。毎食6個ですね。結構少ない。</p>
    </div>
    <br>
    <div>
      <p>ブラックサンダー18個ではなく、15個、毎食5個ずつにすれば、摂取カロリーは減りますのでダイエットできる……というわけではありません。</p>
      <p>筋肉量を維持しなければいけませんから、<span class="underline">単にカロリーを制限するだけではだめ</span>なのです。これがダイエットの難しさです。</p>
      <p>ここで、カロリーのバランスを整える必要がでてきます。</p>
      <p>三大栄養素である<span class="underline2">タンパク質・脂質・炭水化物の摂取バランス</span>をとるのです。</p>
    </div>
    <br>
    <h3>自分の体の会計士になる</h3>
    <div>
      <p>まず脂質の摂取をコントロールします。具体的には、<span class="underline2">総カロリーの10%-20%程度</span>です。192kcal-384kcalですね。脂質は1gあたり9kcalですから、21g-42gですね。</p>
      <p>ブラックサンダー1個の脂質は、6gです。ブラックサンダーダイエットは難しそうですね。</p>
      <p>つぎにタンパク質の摂取量を考えます。<span class="underline2">除脂肪体重1kgに対し、2g-3g程度</span>が目安です。先ほどの例ですと、96g-144gです。</p>
      <p>タンパク質が多そうなイメージのゆで卵は、100gあたり13gのタンパク質が含有されています。Mサイズで50g程度ですから、タンパク質96gをゆで卵だけで取ろうとすると、15個必要となります。</p>
      <p>最後に炭水化物です。1920kcalから<span class="underline2">脂質のカロリーとタンパク質のカロリーを引く</span>と、960kcal-1344kcalですので、炭水化物量は240g-336gです。</p>
    </div>
    <br>
    <h3>計算はコンピュータにやってもらおう</h3>
    <div>
      <p>これまでお話ししてきたように、大枠のカロリーを設定し、その中でタンパク質・脂質・炭水化物のバランス(PFCバランスといいます)をとって、食事管理をします。</p>
      <p><h4><span class="underline2">本当に面倒</span>ですね。</h4></p>
      <p>食事のカロリー計算をするのが面倒ですし、さらにPFCバランスを取るのも面倒です。</p>
      <p><span class="underline">自分でやりたくないことを、なるべくやらないようにしたのが、このwebサイト</span>です。</p>
      <p>・材料と重さを入れていけば、<span class="underline2">簡単にレシピのカロリー計算(PFCバランスも)</span>ができます。</p>
      <p>・<span class="underline2">誰かが投稿したレシピを検索し、お気に入りに入れる</span>ことができます。</p>
      <p>・お気に入りのレシピを組み合わせて、<span class="underline2">一定のカロリー以下になるような組み合わせ</span>も計算できます。</p>
      <p>使い倒していただければ、これほど<span class="underline">うれしい</span>ことはありません。</p>
      <p>最後までおつきあいいただき、<span class="underline2">ありがとうございました。</span></p>
    </div>

</div>